#header-text-4 .bg {
    background-image: url('../images/bg-12.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity:1;
}#footer-social-text .bg-wrap {
    background-color: #F4F5F6;
}
