#header-img-modal .bg-wrap {
}


#header-img-modal .bg {
	background-size: cover;
    background-image: url('../images/bg-69.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.69;
}#header-text-img-2 .bg-wrap {
    background-color: #E2EBF2;
}
