#header-img-modal .bg-wrap {
    background-color: #4A4A4A;
}

#header-img-modal .bg {
    background-image: url('../images/bg-69.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
}
